<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.software.ssp.erkc">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.USE_FINGERPRINT"/>
    <uses-permission android:name="com.fingerprints.service.ACCESS_FINGERPRINT_MANAGER"/>
    <uses-permission android:name="com.samsung.android.providers.context.permission.WRITE_USE_APP_FEATURE_SURVEY"/>

    <uses-feature android:name="android.hardware.camera" android:required="false"/>

    <application
        android:name=".ErkcApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="${app_name}"
        tools:replace="android:label"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.Light"
        android:usesCleartextTraffic="true">

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="844c280aa7dd3fe31fb14ee80fc622bdfdee99a2" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".modules.splash.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar.SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".modules.drawer.DrawerActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan" />

        <activity
            android:name=".modules.signin.SignInActivity"
            android:label="@string/sign_in_title"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Dark" />

        <activity
            android:name=".modules.signup.SignUpActivity"
            android:label="@string/sign_up_registration"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Dark" />

        <activity
            android:name=".modules.card.addcard.AddCardActivity"
            android:label="@string/add_card_title"
            android:theme="@style/AppTheme.Light" />

        <activity
            android:name=".modules.card.editcard.EditCardActivity"
            android:label="@string/edit_card_title"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Light" />

        <activity
            android:name=".modules.barcodescanner.BarcodeScannerActivity"
            android:label="@string/barcode_scanner_title"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Dark" />

        <activity
            android:name=".modules.passwordrecovery.PasswordRecoveryActivity"
            android:label="@string/pass_recovery_title"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Dark"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".modules.address.SearchAddressActivity"
            android:label="@string/search_addresses_title"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".modules.confirmbyurl.ConfirmByUrlActivity"
            android:windowSoftInputMode="adjustPan" />

        <activity
            android:name=".modules.userprofile.UserProfileActivity"
            android:label="@string/user_profile_title"
            android:screenOrientation="portrait" />

        <activity
            android:name=".modules.settings.offlinepassword.OfflinePasswordActivity"
            android:label="@string/offline_password_title"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />

        <activity
            android:name=".modules.sendvalues.SendValuesActivity"
            android:label="@string/send_values_title"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Light"
            android:windowSoftInputMode="adjustPan" />

        <activity
            android:name=".modules.paymentscreen.payment.PaymentActivity"
            android:label="@string/payment_title"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Light"
            android:windowSoftInputMode="adjustPan" />

        <activity
            android:name=".modules.useripu.Activity"
            android:label="@string/user_ipu_title"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Light"
            android:windowSoftInputMode="adjustPan" />

        <activity
            android:name=".modules.paymentsinfo.PaymentInfoActivity"
            android:label="@string/payment_info_title"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Light" />

        <activity
            android:name=".modules.autopayments.settings.AutoPaymentSettingsActivity"
            android:label="@string/autopayment_screen_tab_title"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Light" />

        <activity
            android:name=".modules.history.valuehistory.ValueHistoryActivity"
            android:label="@string/history_value_title"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Light" />

        <activity
            android:name=".modules.paymentcheck.PaymentCheckActivity"
            android:label="@string/payment_check_title"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Light" />

        <activity
            android:name=".modules.history.filter.HistoryFilterActivity"
            android:label="@string/history_filter_title"
            android:screenOrientation="portrait" />

        <activity
            android:name=".modules.notifications.filter.NotificationsFilterActivity"
            android:label="@string/notifications_filter_title"
            android:screenOrientation="portrait" />

        <activity
            android:name=".modules.notifications.notificationscreen.NotificationScreenActivity"
            android:label="@string/notification_screen_title"
            android:screenOrientation="portrait" />

        <activity android:name=".modules.instructions.instructiondetails.InstructionActivity" />

        <activity
            android:name=".modules.fastauth.EnterPinActivity"
            android:label="@string/fast_auth_title"
            android:theme="@style/AppTheme.Light"/>

        <activity
            android:name=".modules.fastauth.createpin.CreatePinActivity"
            android:label="@string/pinlock_set_title"
            android:theme="@style/AppTheme.Light"/>

        <activity
            android:name=".modules.fastauth.changepin.ChangePinActivity"
            android:label="@string/pinlock_change_title"
            android:theme="@style/AppTheme.Light"/>

        <activity
            android:name=".modules.fastauth.deletepin.DeletePinActivity"
            android:label="@string/pinlock_delete_title"
            android:theme="@style/AppTheme.Light"/>

        <activity android:name=".modules.createrequest.CreateRequestActivity"
            android:label="@string/create_request_title"
            android:theme="@style/AppTheme.Light" />

        <activity android:name=".modules.requestdetails.RequestDetailsActivity"
            android:theme="@style/AppTheme.Light" />

        <activity android:name=".modules.chatwithdispatcher.ChatWithDispatcherActivity"
            android:theme="@style/AppTheme.Light" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <!-- Push Notifications -->

        <service android:name=".modules.pushnotifications.ErkcFirebaseInstanceIdService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <service android:name=".modules.pushnotifications.ErkcMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <!-- Photo sendind service (ipu values) -->
        <service android:name=".modules.photoservice.PhotoService"/>
        <service android:name=".modules.photoservice.PhotoSendingService"/>

        <!-- Other possible long running updates (images/instructions) -->
        <service android:name=".modules.longrunningupdate.LongRunningUpdateService"/>

        <receiver
            android:name=".modules.pushnotifications.NotificationBroadcastReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="notificationClicked" />
            </intent-filter>
        </receiver>

    </application>

</manifest>